{% extends "base.html" %}
{% load static %}
{% block title %}Geospatial Dashboard | GeoCAV{% endblock %}

{% block content %}
<link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

<!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""/>

<link rel="stylesheet" href="{% static 'styles.css' %}">

<!-- JavaScript Libraries -->
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v3.min.js"></script>
<script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.heat/0.2.0/leaflet-heat.js"></script>

<div class="title">
    <h2 id="page-title">Choropleth Map with Regression Plot</h2>
</div>
<div class="navigation">
    <h1>Geospatial Dashboard</h1>
</div>
    
    <div class="center-div">
        <div id="map"></div>
        <div class="filter-box">
            <h3>Filters</h3>
            <div class="filter-content">
                <div class="filter-group">
                    <label for="map-select">Map View:</label>
                    <select id="map-select" name="map-type">
                        <option value="choropleth">Regression Choropleth Map</option>
                        <option value="pie">Pie Chart Map</option>
                        <option value="dotDensity">Heat Map</option>
                    </select>
                </div>
                <div class="filter-group">
                    <label for="level-select">Geographic Level:</label>
                    <select id="level-select" name="level">
                        <option value="state">State</option>
                        <option value="county">County</option>
                    </select>
                </div>
                <div class="filter-group">
                    <label for="cancer-select">Cancer Type:</label>
                    <select id="cancer-select" name="cancer-type">
                        <option value="Pancreatic">Pancreatic Cancer</option>
                        <option value="Skin">Skin Cancer</option>
                        <option value="Lung">Lung Cancer</option>
                        <option value="Liver">Liver Cancer</option>
                        <option value="Breast">Breast Cancer</option>
                        <option value="Kidney">Kidney Cancer</option>
                        <option value="Prostate">Prostate Cancer</option>
                        <option value="Esophageal">Esophageal Cancer</option>
                        <option value="None">None</option>
                    </select>
                </div>
                <div class="filter-group">
                    <label for="factor-select">Factor:</label>
                    <select id="factor-select" name="factor">
                        <option value="Annual Sunlight Exposure">Annual Sunlight Exposure</option>
                        <option value="Annual_UV_DailyDose">Annual UV DailyDose</option>
                        <option value="CO_Poisoning_Hospitalization">CO Poisoning Hospitalization</option>
                        <option value="Pesticide_Exposure">Pesticide Exposure</option>
                        <option value="Heart_Stroke">Heart Stroke</option>
                        <option value="High_Cholesterol">High Cholesterol</option>
                        <option value="Hospitalization_Gender">Hospitalization Gender</option>
                        <option value="Hospitalization">Hospitalization</option>
                        <option value="No_Health_Insurance">No Health Insurance</option>
                        <option value="Smoking">Smoking</option>
                    </select>
                </div>
                <div class="filter-group">
                    <label for="gender-select">Gender:</label>
                    <select id="gender-select" name="gender">
                        <option value="All">All</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div class="filter-group">
                    <label for="race-select">Race:</label>
                    <select id="race-select" name="race">
                        <option value="ALL">All</option>
                        <option value="WHITE (INCLUDES HISPANIC)">White (includes Hispanic)</option>
                        <option value="BLACK (INCLUDES HISPANIC)">Black (includes Hispanic)</option>
                        <option value="HISPANIC (ALL RACES)">Hispanic (all races)</option>
                        <option value="ASIAN/PACIFIC ISLANDER (INCLUDES HISPANIC)">Asian/Pacific Islander (includes Hispanic)</option>
                        <option value="AMERICAN INDIAN/ALASKAN NATIVE (INCLUDES HISPANIC)">American Indian/Alaskan Native (includes Hispanic)</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="regression-box">
            <div id="regression-plot"></div>
        </div>
        <div class="legend-box">
            <div id="legend"></div>
        </div>  
        <div class="timeline-box">
            <h3>Cancer Year Selection</h3>
            <select id="cancer-year-selector" name="cancer-year">
                <option value="2011">2011</option>
                <option value="2012">2012</option>
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020" selected>2020</option>
            </select>
            <h3>Factor Year Selection</h3>
            <select id="factor-year-selector" name="factor-year">
                <option value="2011">2011</option>
                <option value="2012">2012</option>
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020" selected>2020</option>
            </select>

        </div>
    </div>

    <script type="module" src="{% static 'main.js' %}"></script>
{% endblock %}
